:root {
  --bg: #f5f7f6;
  --section: #ffffff;
  --card: #f0f4f3;
  --text: #1f2937;
  --border: #e5e7eb;

  --primary: #22c55e;
  --primary-hover: #16a34a;
  --accent: #facc15;
}

.dark {
  --bg: #0f172a;
  --section: #111827;
  --card: #1f2937;
  --text: #f3f4f6;
  --border: #374151;

  --primary: #22c55e;
  --primary-hover: #16a34a;
  --accent: #facc15;
}
